@{
    ViewData["Title"] = "Home Page";
}

<div id="welcomeDiv" class="text-center border border-2 rounded-3 p-3 bg-light">
    <h1 id ="welcome" class="display-2">Welcome to our <br /> chat app!</h1>
    <br />
    <a href="http://localhost:5286/index.html" class="btn btn-outline-dark m-2">start chatting now</a>
    <a href="http://localhost:5253/Ratings/Search" class="btn btn-outline-dark m-2">go to our ratings</a>
</div>
